@layer base {
  :root {
    color-scheme: light;

    &[data-theme="dark"] {
      color-scheme: dark;
    }
  }

  body {
    background-color: var(--background--base);
    color: var(--foreground--base);
  }
}

@layer pages {
  @scope (.scoped.vt-theme-demo) to (.scoped) {
    :scope {
      display: block grid;
      gap: 16px;
      justify-items: start;
      padding-block: 32px;
    }

    ._toggle {
      padding-block: 8px;
      padding-inline: 16px;
      border-radius: var(--rounded--sm);
    }
  }
}

@keyframes --theme-toggle--reveal {
  from {
    clip-path: inset(0 0 100% 0);
  }

  to {
    clip-path: inset(0);
  }
}

:active-view-transition-type(theme-toggle) {
  &::view-transition-old(root) {
    animation-name: none;
  }

  &::view-transition-new(root) {
    @media (prefers-reduced-motion: no-preference) {
      animation-name: --theme-toggle--reveal;
      animation-duration: var(--duration--slow);
      animation-timing-function: var(--ease--in-out-quint);
      animation-fill-mode: both;
    }

    @media (prefers-reduced-motion: reduce) {
      animation-name: none;
    }
  }
}
