<div class="scoped contents-compare">
  <section>
    <h3>ラッパーの箱がある</h3>
    <div class="_grid">
      <p class="_item">1</p>
      <div class="_wrapper">
        <p class="_item">2</p>
        <p class="_item">3</p>
      </div>
    </div>
  </section>
  <section>
    <h3>ラッパーに display: contents</h3>
    <div class="_grid">
      <p class="_item">1</p>
      <div class="_wrapper" data-demo="contents">
        <p class="_item">2</p>
        <p class="_item">3</p>
      </div>
    </div>
  </section>
</div>
