@layer tokens {
  :root {
    --chevron--rightward: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M8 4L16 12L8 20" /></svg>');
  }
}

@layer base {
  :root {
    --background-current: currentColor;

    @media (forced-colors: active) {
      --background-current: CanvasText;
    }
  }

  :any-link {
    @media (forced-colors: active) {
      --background-current: LinkText;
    }
  }

  button {
    &:enabled {
      @media (forced-colors: active) {
        --background-current: ButtonText;
      }
    }
  }

  :disabled {
    @media (forced-colors: active) {
      --background-current: GrayText;
    }
  }
}

@layer components {
  @scope (.scoped.forced-colors-demo) to (.scoped) {
    :scope {
      display: block grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(240 / 16 * 1rem)), 1fr));
      gap: 24px;
    }

    section {
      display: block grid;
      gap: 16px;
      justify-items: start;
    }

    h2 {
      font-size: calc(var(--text--subtitle--font-size) / 16 * 1rem);
      line-height: var(--text--subtitle--leading);
    }

    button {
      --_icon-color: var(--background-current);

      display: inline flex;
      gap: 8px;
      align-items: center;
      padding-block: 8px;
      padding-inline: 16px;
      border-color: transparent;
      border-radius: var(--rounded--sm);
      background-color: var(--background--accent);
      color: var(--foreground--on-accent);

      &[data-fallback="none"] {
        --_icon-color: currentColor;

        border: none;
      }

      &::after {
        content: "";
        mask-image: var(--chevron--rightward);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        inline-size: 1em;
        aspect-ratio: 1;
        background-color: var(--_icon-color);
      }
    }

    a {
      --_icon-color: var(--background-current);

      display: inline flex;
      gap: 4px;
      align-items: center;
      color: var(--foreground--accent);

      &[data-fallback="none"] {
        --_icon-color: currentColor;
      }

      &::after {
        content: "";
        mask-image: var(--chevron--rightward);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        inline-size: 1em;
        aspect-ratio: 1;
        background-color: var(--_icon-color);
      }
    }
  }
}
