@layer components {
  @scope (.scoped.hero-banner) to (.scoped) {
    :scope {
      display: block grid;
      gap: 16px;
      align-content: center;

      /* デザインカンプの高さに固定する */
      block-size: calc(320 / 16 * 1rem);
      padding: 24px;
      background-color: var(--background--inverse);
      color: var(--foreground--inverse);
    }

    h2 {
      font-size: calc(24 / 16 * 1rem);
    }

    a {
      justify-self: start;
    }
  }

  @scope (.scoped.news-section) to (.scoped) {
    :scope {
      display: block grid;
      gap: 8px;
      padding-block: 24px;
    }

    h2 {
      font-size: calc(var(--text--title--font-size) / 16 * 1rem);
      line-height: var(--text--title--leading);
    }
  }
}
