@layer components {
  @scope (.scoped.surface-demo) to (.scoped) {
    :scope {
      display: block grid;
      gap: calc(var(--spacing--md) * 1px);
    }

    :is(p, li) {
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    ._card {
      padding: calc(var(--spacing--sm) * 1px);
      border-radius: var(--rounded--lg);
      box-shadow: var(--shadow--sm);
      background-color: var(--background--surface);
    }

    ._dialog {
      display: block grid;
      gap: calc(var(--spacing--sm) * 1px);
      padding: calc(var(--spacing--md) * 1px);
      border-radius: var(--rounded--lg);
      box-shadow: var(--shadow--xl);
      background-color: var(--background--overlay);
    }

    ul {
      display: block grid;
      justify-self: start;
      padding: calc(var(--spacing--xxxs) * 1px);
      border-radius: var(--rounded--lg);
      box-shadow: var(--shadow--lg);
      background-color: var(--background--raised);
    }

    li {
      padding-block: calc(var(--spacing--xxs) * 1px);
      padding-inline: calc(var(--spacing--xs) * 1px);
      border-radius: var(--rounded--md);
    }
  }
}
