@layer components {
  @scope (.scoped.surface-demo) to (.scoped) {
    :scope {
      display: block grid;
      gap: 24px;
    }

    ._label {
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    ._card {
      padding: 16px;
      border-radius: var(--rounded--lg);
      box-shadow: var(--shadow--sm);
      background-color: var(--background--surface);
    }

    ._dialog {
      display: block grid;
      gap: 16px;
      padding: 24px;
      border-radius: var(--rounded--lg);
      box-shadow: var(--shadow--xl);
      background-color: var(--background--overlay);
    }

    ._menu {
      display: block grid;
      justify-self: start;
      padding: 4px;
      border-radius: var(--rounded--lg);
      box-shadow: var(--shadow--lg);
      background-color: var(--background--raised);

      & > * {
        padding-block: 8px;
        padding-inline: 12px;
        border-radius: var(--rounded--md);
      }
    }
  }
}
