@layer tokens {
  :root {
    --shape--triangle-top: polygon(50% 0, 100% 100%, 0 100%);
    --shape--triangle-bottom: polygon(0 0, 100% 0, 50% 100%);
    --shape--triangle-right: polygon(0 0, 100% 50%, 0 100%);
    --shape--triangle-left: polygon(0 50%, 100% 0, 100% 100%);
  }
}

@layer pages {
  @scope (.scoped.shape-demo) to (.scoped) {
    :scope {
      display: block grid;
      gap: 40px;
      justify-items: center;
      padding-block-start: 8px;

      & > ._shapes {
        justify-self: stretch;
      }
    }

    ._shapes {
      display: block grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(200 / 16 * 1rem)), 1fr));
      gap: 16px;
    }

    li {
      display: block grid;
      gap: 8px;
      justify-items: center;
      font-size: calc(var(--text--caption--font-size) / 16 * 1rem);
      line-height: var(--text--caption--leading);
    }

    ._shape {
      inline-size: 40px;
      aspect-ratio: 1;
      background-color: var(--background--inverse);

      &[data-shape="top"] {
        clip-path: var(--shape--triangle-top);
      }

      &[data-shape="bottom"] {
        clip-path: var(--shape--triangle-bottom);
      }

      &[data-shape="right"] {
        clip-path: var(--shape--triangle-right);
      }

      &[data-shape="left"] {
        clip-path: var(--shape--triangle-left);
      }
    }
  }
}

@layer components {
  @scope (.scoped.tooltip) to (.scoped) {
    :scope {
      position: relative;
      padding-block: 8px;
      padding-inline: 16px;
      border-radius: var(--rounded--sm);
      background-color: var(--background--inverse);
      color: var(--foreground--inverse);
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);

      &::after {
        --_size: 16px;

        content: "";

        /* ツールチップの下端の中央から、下へ突き出す */
        position: absolute;
        inset-block-start: 100%;
        inset-inline-start: 50%;
        clip-path: var(--shape--triangle-bottom);
        inline-size: var(--_size);
        aspect-ratio: 2 / tan(60deg);
        background-color: inherit;
        translate: -50% 0;
      }
    }
  }
}
