@layer components {
  @scope (.scoped.site-header) to (.scoped) {
    :scope {
      --_density: --compact;

      display: block flex;
      gap: 16px;
      align-items: center;

      /* if() に未対応の環境で使う値 */
      padding-block: 12px;
      padding-block: if(style(--_density: --spacious): 24px; else: 12px);
      padding-inline: 16px;
      background-color: var(--background--active);

      @media (width >= calc(768 / 16 * 1rem)) {
        --_density: --spacious;
      }
    }

    ._logo {
      display: block grid;
      flex-shrink: 0;
      place-items: center;
      inline-size: 120px;
      aspect-ratio: 4 / 1;
      border-radius: var(--rounded--sm);
      background-color: var(--background--inverse);
      color: var(--foreground--inverse);
      font-weight: var(--font-weight--bold);

      @container style(--_density: --spacious) {
        inline-size: 150px;
      }
    }

    ._note {
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }
  }
}
