@layer components {
  @scope (.scoped.article-layout) to (.scoped) {
    :scope {
      display: block grid;
      grid-template-columns: 1fr calc(160 / 16 * 1rem);
      gap: 24px;
    }

    article {
      display: block grid;
      gap: 1rlh;
    }

    /* align-self: start がないので、セルの高さまで伸びて留まらない */
    nav {
      position: sticky;
      inset-block-start: 16px;
      padding: 12px;
      border-radius: var(--rounded--md);
      background-color: var(--background--hover);
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    ol {
      display: block grid;
      gap: 8px;
    }
  }
}
