@layer components {
  @scope (.scoped.article-layout) to (.scoped) {
    :scope {
      display: block grid;
      grid-template-columns: 1fr calc(160 / 16 * 1rem);
      gap: 24px;

      & > nav {
        /* セルの高さまで伸びないようにして、セルの中でずらす余地を作る */
        align-self: start;
      }
    }

    article {
      display: block grid;
      gap: 1rlh;
    }

    nav {
      position: sticky;
      inset-block-start: 16px;
      overflow-y: auto;
      max-block-size: calc(100svb - 16px * 2);
      padding: 12px;
      border-radius: 8px;
      background-color: oklch(96% 0.01 250deg);
      font-size: calc(14 / 16 * 1rem);
    }

    ol {
      display: block grid;
      gap: 8px;
    }
  }
}
