@layer components {
  @scope (.scoped.news-list) to (.scoped) {
    li {
      padding-block: 8px;
      border-block-end: 1px solid var(--border--base);
    }

    time {
      margin-inline-end: 8px;
      color: var(--foreground--muted);

      /* 先頭から3件の項目の中 */
      &:is(li:nth-child(-n + 3) *) {
        color: var(--foreground--accent);
        font-weight: var(--font-weight--bold);
      }
    }
  }
}
