@layer components {
  @scope (.scoped.corner-demo) to (.scoped) {
    :scope {
      display: block grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(96 / 16 * 1rem)), 1fr));
      gap: 16px;
    }

    li {
      display: block grid;
      gap: 8px;
      justify-items: center;
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    ._box {
      inline-size: 72px;
      aspect-ratio: 1;
      border-radius: 24px;
      background-color: var(--background--inverse);

      &[data-shape="squircle"] {
        corner-shape: squircle;
      }

      &[data-shape="bevel"] {
        corner-shape: bevel;
      }

      &[data-shape="scoop"] {
        corner-shape: scoop;
      }

      &[data-shape="notch"] {
        corner-shape: notch;
      }
    }
  }
}
