<div class="scoped flexbox-alignment">
  <section>
    <h3>justify-content: space-between</h3>
    <div class="_flexbox" data-case="justify">
      <span class="_item">A</span>
      <span class="_item">B</span>
      <span class="_item">C</span>
    </div>
  </section>
  <section>
    <h3>align-items: center</h3>
    <div class="_flexbox" data-case="items">
      <span class="_item">A</span>
      <span class="_item">B</span>
      <span class="_item">C</span>
    </div>
  </section>
  <section>
    <h3>align-items: start と、C だけ align-self: end</h3>
    <div class="_flexbox" data-case="self">
      <span class="_item">A</span>
      <span class="_item">B</span>
      <span class="_item">C</span>
    </div>
  </section>
  <section>
    <h3>flex-wrap: wrap と align-content: end</h3>
    <div class="_flexbox" data-case="content">
      <span class="_item">A</span>
      <span class="_item">B</span>
      <span class="_item">C</span>
      <span class="_item">D</span>
      <span class="_item">E</span>
    </div>
  </section>
</div>
