<div class="scoped normal-flow-modes">
  <section>
    <h3>通常フロー</h3>
    <div class="_parent">
      文字<span class="_inline">span</span>文字
      <p class="_block">p 要素</p>
      文字
    </div>
  </section>
  <section>
    <h3>親に display: block flex</h3>
    <div class="_parent" data-mode="flex">
      文字<span class="_inline">span</span>文字
      <p class="_block">p 要素</p>
      文字
    </div>
  </section>
  <section>
    <h3>親に display: block grid</h3>
    <div class="_parent" data-mode="grid">
      文字<span class="_inline">span</span>文字
      <p class="_block">p 要素</p>
      文字
    </div>
  </section>
</div>
