@layer components {
  @scope (.scoped.feature-list) to (.scoped) {
    :scope {
      display: block grid;
      gap: 12px;
    }

    ._item {
      display: block flex;
      gap: 0.5em;
      align-items: start;

      /* 1行の高さとアイコンの大きさの差の半分を、上下の margin にする */
      &::before {
        content: "";
        flex-shrink: 0;
        inline-size: 1em;
        aspect-ratio: 1;
        margin-block: calc((1lh - 1em) / 2);
        border-radius: 50%;
        background-color: oklch(60% 0.15 250deg);
      }

      &[data-size="large"] {
        font-size: calc(24 / 16 * 1rem);
        line-height: 1.4;
      }

      &[data-leading="loose"] {
        line-height: 2.2;
      }
    }
  }
}
