@layer components {
  @scope (.scoped.card-compare) to (.scoped) {
    :scope {
      display: block grid;
      gap: 24px;
    }

    section {
      display: block grid;
      gap: 8px;
    }

    h3 {
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }
  }

  @scope (.scoped.product-card) to (.scoped) {
    :scope {
      /* バッジの包含ブロックを、カードのルートに作る */
      position: relative;
      padding-block: 16px;
      padding-inline: 16px 80px;
      border: 1px solid var(--border--base);
      border-radius: var(--rounded--md);

      /* 比較のため、1つ目のカードだけ包含ブロックを作らない */
      &[data-demo="without-containing-block"] {
        position: static;
      }

      & > * + * {
        margin-block-start: 8px;
      }
    }

    h4 {
      font-size: calc(var(--text--subtitle--font-size) / 16 * 1rem);
      line-height: var(--text--subtitle--leading);
    }

    ._badge {
      position: absolute;
      inset-block-start: 8px;
      inset-inline-end: 8px;
      padding-block: 2px;
      padding-inline: 8px;
      border-radius: var(--rounded--sm);
      background-color: var(--background--inverse);
      color: var(--foreground--inverse);
      font-size: calc(var(--text--caption--font-size) / 16 * 1rem);
      line-height: var(--text--caption--leading);
    }
  }
}
