@layer tokens {
  :root {
    --background--base: oklch(100% 0 0deg);
    --z--backwards: -1;
  }
}

@layer pages {
  @scope (.scoped.tab-demo) to (.scoped) {
    :scope {
      display: block grid;
      padding: 16px;
      border-radius: 8px;
      background-color: oklch(88% 0.05 250deg);
    }

    ._panel {
      padding: 24px;
      border-radius: 8px;
      background-color: var(--background--base);
    }
  }
}

@layer components {
  @scope (.scoped.tab-list) to (.scoped) {
    ul {
      display: block flex;
      gap: 8px;
      padding-inline: 24px;
    }

    ._tab {
      --_radius: var(--tab-list--radius, 12px);
      --_background: transparent;

      position: relative;
      display: block flow-root;
      padding-block: 8px;
      padding-inline: 24px;
      color: oklch(35% 0.05 250deg);
      isolation: isolate;

      &[aria-current="page"] {
        --_background: var(--background--base);

        color: oklch(20% 0.02 250deg);
        font-weight: 700;
      }

      &::before {
        content: "";
        position: absolute;
        inset-block: 0;
        inset-inline: calc(var(--_radius) * -1);
        z-index: var(--z--backwards);
        clip-path: shape(
          from 0 100%,
          curve to var(--_radius) calc(100% - var(--_radius)) with var(--_radius) 100%,
          vline to var(--_radius),
          curve to calc(var(--_radius) * 2) 0 with var(--_radius) 0,
          hline to calc(100% - var(--_radius) * 2),
          curve to calc(100% - var(--_radius)) var(--_radius) with calc(100% - var(--_radius)) 0,
          vline to calc(100% - var(--_radius)),
          curve to 100% 100% with calc(100% - var(--_radius)) 100%,
          close
        );
        background-color: var(--_background);

        @supports not (clip-path: shape(from 0 0, hline to 0)) {
          inset-inline: 0;
          border-start-start-radius: var(--_radius);
          border-start-end-radius: var(--_radius);
        }
      }
    }
  }
}
