@layer pages {
  @scope (.scoped.tab-demo) to (.scoped) {
    :scope {
      display: block grid;
      padding: 16px;
      border-radius: var(--rounded--md);
      background-color: var(--background--active);
    }

    ._panel {
      padding: 24px;
      border-radius: var(--rounded--md);
      background-color: var(--background--base);
    }
  }
}

@layer components {
  @scope (.scoped.tab-list) to (.scoped) {
    ul {
      display: block flex;
      gap: 8px;
      padding-inline: 24px;
    }

    ._tab {
      --_radius: var(--tab-list--radius, 12px);
      --_background: transparent;

      position: relative;
      display: block flow-root;
      padding-block: 8px;
      padding-inline: 24px;
      color: var(--foreground--muted);
      isolation: isolate;

      &[aria-current="page"] {
        --_background: var(--background--base);

        color: var(--foreground--base);
        font-weight: var(--font-weight--bold);
      }

      &::before {
        content: "";
        position: absolute;
        inset-block: 0;
        inset-inline: calc(var(--_radius) * -1);
        z-index: var(--z--backwards);
        clip-path: shape(
          from 0 100%,
          curve to var(--_radius) calc(100% - var(--_radius)) with var(--_radius) 100%,
          vline to var(--_radius),
          curve to calc(var(--_radius) * 2) 0 with var(--_radius) 0,
          hline to calc(100% - var(--_radius) * 2),
          curve to calc(100% - var(--_radius)) var(--_radius) with calc(100% - var(--_radius)) 0,
          vline to calc(100% - var(--_radius)),
          curve to 100% 100% with calc(100% - var(--_radius)) 100%,
          close
        );
        background-color: var(--_background);

        @supports not (clip-path: shape(from 0 0, hline to 0)) {
          inset-inline: 0;
          border-start-start-radius: var(--_radius);
          border-start-end-radius: var(--_radius);
        }
      }
    }
  }
}
