@layer components {
  @scope (.scoped.notice-list) to (.scoped) {
    :scope {
      display: block grid;
      gap: 16px;
    }

    h2 {
      font-size: calc(var(--text--title--font-size) / 16 * 1rem);
      line-height: var(--text--title--leading);
    }
  }
}
