@layer components {
  @scope (.scoped.named-lines-demo) to (.scoped) {
    :scope {
      display: block grid;

      /* 本文の列の左右に、余白の列を置く。本文の列は 480px 相当で頭打ちにする */
      grid-template-columns:
        [--full-start] minmax(16px, 1fr)
        [--content-start] minmax(0, calc(480 / 16 * 1rem))
        [--content-end] minmax(16px, 1fr)
        [--full-end];
      row-gap: 8px;
      padding-block: 8px;
      border: 1px dashed var(--border--strong);

      & > * {
        grid-column: --content;
      }

      & > ._hero {
        grid-column: --full;
      }
    }

    ._hero,
    ._item {
      padding-block: 8px;
      padding-inline: 8px;
      color: var(--foreground--on-accent);
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    ._hero {
      background-color: var(--background--inverse);
      color: var(--foreground--inverse);
    }

    ._item {
      background-color: var(--background--accent);
    }
  }
}
