@layer components {
  @scope (.scoped.site-header) to (.scoped) {
    :scope {
      display: block flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: space-between;
      align-items: center;
      padding-block: 12px;
      padding-inline: 16px;
      border-radius: var(--rounded--lg);
      box-shadow: var(--shadow--xs);
      background-color: var(--background--surface);
    }

    p {
      font-weight: var(--font-weight--bold);
    }

    ul {
      display: none;
      gap: 16px;

      @media (width >= calc(640 / 16 * 1rem)) {
        display: block flex;
      }
    }

    button {
      padding-block: 4px;
      padding-inline: 12px;
      border-radius: var(--rounded--sm);

      @media (width >= calc(640 / 16 * 1rem)) {
        display: none;
      }
    }
  }
}
