<div class="scoped cluster-demo stack" style="--stack--gap: calc(var(--spacing--lg) / 16 * 1rem)">
  <ul class="_tags cluster" style="--cluster--gap: calc(var(--spacing--xxs) / 16 * 1rem)">
    <li class="_tag">CSS</li>
    <li class="_tag">Flexbox</li>
    <li class="_tag">コンポジション</li>
    <li class="_tag">カスタムプロパティ</li>
    <li class="_tag">レイアウト</li>
    <li class="_tag">アクセシビリティ</li>
    <li class="_tag">デザイントークン</li>
  </ul>
  <p
    class="_meta cluster"
    style="--cluster--column-gap: calc(var(--spacing--sm) / 16 * 1rem); --cluster--alignment: baseline"
  >
    <span class="_price">12,800円</span>
    <span class="_note">税込・送料無料</span>
  </p>
  <div
    class="_actions cluster"
    style="--cluster--gap: calc(var(--spacing--sm) / 16 * 1rem); --cluster--justification: end"
  >
    <button class="_button" type="button">下書きに戻す</button>
    <button class="_button" type="button">プレビュー</button>
    <button class="_button _submit" type="button">公開する</button>
  </div>
</div>
