@layer components {
  @scope (.scoped.margin-collapse-empty) to (.scoped) {
    :scope {
      display: block grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));
      gap: 16px;
    }

    section {
      display: block grid;
      gap: 8px;
      align-content: start;
    }

    h3 {
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    ._flow,
    ._grid {
      border: 1px dashed var(--border--strong);
    }

    ._flow {
      display: block flow-root;

      & > * + * {
        margin-block-start: 16px;
      }
    }

    ._grid {
      display: block grid;
      gap: 16px;
    }

    ._paragraph {
      padding: 8px;
      background-color: var(--background--accent-subtle);
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    /* 区切り線は自分の上下に 24px の余白を持つ */
    hr {
      margin-block: 24px;
      margin-inline: unset;
    }
  }
}
