@layer components {
  @scope (.scoped.global-header) to (.scoped) {
    :scope {
      display: block grid;
      grid-template-columns: 1fr auto;
      gap: 12px;
      align-items: center;
      padding-block-end: 16px;
      border-block-end: 1px solid var(--border--base);

      & > ._drawer {
        grid-column: 1 / -1;
      }
    }

    ._logo {
      font-weight: var(--font-weight--bold);
    }

    ._drawer-button {
      padding-block: 8px;
      padding-inline: 16px;
      border-radius: var(--rounded--sm);
    }

    /* ボタンの aria-expanded が true の間だけ、ドロワーを表示する */
    ._drawer {
      display: none;
      padding: 16px;
      border-radius: var(--rounded--lg);
      box-shadow: var(--shadow--xs);
      background-color: var(--background--surface);

      &:is(:scope:has(._drawer-button[aria-expanded="true"]) *) {
        display: block flow;
      }
    }

    ul {
      display: block grid;
      gap: 8px;
    }
  }

  @scope (.scoped.page-main) to (.scoped) {
    :scope {
      display: block grid;
      gap: 8px;
      padding-block-start: 16px;

      /* inert 属性が付いている間は、操作できないことを色でも示す */
      &[inert] {
        color: var(--foreground--muted);
      }
    }

    a {
      text-decoration-line: revert;
    }
  }
}
