<div class="scoped area-picker">
  <fieldset>
    <legend>position-area の値</legend>
    <label><input class="_block-end-span" type="radio" name="area-picker-value" checked> <code>block-end span-inline-end</code></label>
    <label><input class="_block-end" type="radio" name="area-picker-value"> <code>block-end</code></label>
    <label><input class="_corner" type="radio" name="area-picker-value"> <code>block-start inline-start</code></label>
    <label><input class="_inline-end" type="radio" name="area-picker-value"> <code>inline-end</code></label>
    <label><input class="_block-end-span-start" type="radio" name="area-picker-value"> <code>block-end span-inline-start</code></label>
    <label><input class="_center" type="radio" name="area-picker-value"> <code>center</code></label>
  </fieldset>
  <div class="_stage">
    <span class="_anchor">アンカー</span>
    <span class="_target">配置する要素</span>
  </div>
</div>
