@layer components {
  @scope (.scoped.card-list) to (.scoped) {
    :scope {
      display: block grid;
      gap: 16px;
    }
  }

  @scope (.scoped.news-card) to (.scoped) {
    :scope {
      padding: 16px;
      border: 1px solid var(--border--base);
      border-radius: var(--rounded--md);

      &[data-variant="featured"] {
        border: 2px solid var(--foreground--accent);
      }
    }

    h2 {
      font-size: calc(var(--text--title--font-size) / 16 * 1rem);
      line-height: var(--text--title--leading);

      &:is(:scope[data-variant="featured"] *) {
        font-size: calc(24 / 16 * 1rem);
      }
    }
  }
}
