<div class="scoped flexbox-equal-columns">
  <section>
    <h3>flex: 1（偶数番目の padding-inline だけ 3rem）</h3>
    <div class="_columns" data-method="flex">
      <p class="_item">padding-inline: 1rem</p>
      <p class="_item">padding-inline: 3rem</p>
      <p class="_item">padding-inline: 1rem</p>
    </div>
  </section>
  <section>
    <h3>grid-template-columns: repeat(3, 1fr)</h3>
    <div class="_columns" data-method="grid">
      <p class="_item">padding-inline: 1rem</p>
      <p class="_item">padding-inline: 3rem</p>
      <p class="_item">padding-inline: 1rem</p>
    </div>
  </section>
</div>
