@layer components {
  @scope (.scoped.article-card) to (.scoped) {
    :scope {
      display: block grid;
      gap: 16px;
    }

    img {
      inline-size: -webkit-fill-available;
      inline-size: stretch;
      aspect-ratio: 16 / 9;
      border-radius: var(--rounded--sm);
      object-fit: cover;
    }

    ._body {
      display: block grid;
      gap: 8px;
    }

    ._category {
      color: var(--foreground--accent);
      font-size: calc(var(--text--caption--font-size) / 16 * 1rem);
      line-height: var(--text--caption--leading);
    }

    h3 {
      font-size: calc(var(--text--title--font-size) / 16 * 1rem);
      line-height: var(--text--title--leading);
    }

    h3 a {
      color: inherit;
    }

    time {
      color: var(--foreground--muted);
      font-size: calc(var(--text--caption--font-size) / 16 * 1rem);
      line-height: var(--text--caption--leading);
    }

    ._excerpt {
      color: var(--foreground--muted);
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }
  }
}
