@layer components {
  @scope (.scoped.product-cards) to (.scoped) {
    :scope {
      container: --scoped / inline-size;
    }

    ._body {
      --_gap: 1.5rem;
      --_column-min-width: 10rem;
      --_column-max-count: 8;

      display: block grid;

      /* 列の最小幅を下回らず、多くても8列まで並べ、カードのない列は auto-fit で畳む */
      grid-template-columns: repeat(
        auto-fit,
        minmax(
          min(100%, max(var(--_column-min-width), (100% - var(--_gap) * (var(--_column-max-count) - 1)) / var(--_column-max-count))),
          1fr
        )
      );
      gap: var(--_gap);

      /* 2列分の幅があれば、すべてのカードが2列分を占める */
      & > * {
        @container --scoped (inline-size >= calc(10rem * 2 + 1.5rem)) {
          grid-column-end: span 2;
        }
      }

      /* 1行に2枚：最後の1枚が奇数番目なら、2列目から始める */
      & > :nth-child(2n + 1):nth-last-child(1) {
        @container --scoped (calc(10rem * 6 + 1.5rem * 5) > inline-size >= calc(10rem * 4 + 1.5rem * 3)) {
          grid-column-start: 2;
        }
      }

      /* 1行に3枚：2行目以降の行の先頭が、最後の1枚なら3列目から、最後から2枚目なら2列目から始める */
      & > :nth-child(3n + 4):nth-last-child(1) {
        @container --scoped (calc(10rem * 8 + 1.5rem * 7) > inline-size >= calc(10rem * 6 + 1.5rem * 5)) {
          grid-column-start: 3;
        }
      }

      & > :nth-child(3n + 4):nth-last-child(2) {
        @container --scoped (calc(10rem * 8 + 1.5rem * 7) > inline-size >= calc(10rem * 6 + 1.5rem * 5)) {
          grid-column-start: 2;
        }
      }

      /* 1行に4枚：2行目以降の行の先頭が、最後から1〜3枚目なら、4列目、3列目、2列目から始める */
      & > :nth-child(4n + 5):nth-last-child(1) {
        @container --scoped (inline-size >= calc(10rem * 8 + 1.5rem * 7)) {
          grid-column-start: 4;
        }
      }

      & > :nth-child(4n + 5):nth-last-child(2) {
        @container --scoped (inline-size >= calc(10rem * 8 + 1.5rem * 7)) {
          grid-column-start: 3;
        }
      }

      & > :nth-child(4n + 5):nth-last-child(3) {
        @container --scoped (inline-size >= calc(10rem * 8 + 1.5rem * 7)) {
          grid-column-start: 2;
        }
      }
    }

    ._card {
      display: block grid;
      gap: 4px;
      padding: 16px;
      border-radius: 12px;
      background-color: oklch(96% 0.01 250deg);
    }

    h2 {
      font-size: calc(18 / 16 * 1rem);
    }

    ._category {
      color: oklch(45% 0 0deg);
      font-size: calc(14 / 16 * 1rem);
    }

    ._price {
      font-weight: bold;
    }
  }
}
