@layer components {
  /* to (.scoped) で、入れ子のコンポーネントのルートからスコープを外す */
  @scope (.scoped.media-card) to (.scoped) {
    :scope {
      display: block grid;
      gap: 12px;
      padding: 16px;
      border: 1px solid oklch(85% 0 0deg);
      border-radius: 8px;
    }

    h2 {
      font-size: calc(24 / 16 * 1rem);
    }

    p {
      color: oklch(50% 0.2 260deg);
      font-size: calc(18 / 16 * 1rem);
    }
  }

  @scope (.scoped.author-note) to (.scoped) {
    :scope {
      display: block grid;
      gap: 4px;
      padding: 12px;
      border-radius: 8px;
      background-color: oklch(96% 0.01 250deg);
    }

    p {
      font-size: calc(14 / 16 * 1rem);
    }
  }
}
