@layer components {
  @scope (.scoped.normal-flow-sizing) to (.scoped) {
    :scope {
      display: block grid;
      gap: 16px;
    }

    h3 {
      font-size: calc(14 / 16 * 1rem);
    }

    section {
      & > h3 + * {
        margin-block-start: 8px;
      }
    }

    ._parent {
      max-inline-size: 200px;
      border: 1px dashed oklch(60% 0 0deg);

      &[data-mode="flex"] {
        display: block flex;
      }
    }

    ._child {
      padding: 8px;
      background-color: oklch(85% 0.1 250deg);

      &[data-size="fixed"] {
        inline-size: 280px;
      }
    }
  }
}
