@layer components {
  @scope (.scoped.box-model-inline) to (.scoped) {
    :scope {
      display: block grid;
      gap: 24px;
      max-inline-size: calc(400 / 16 * 1rem);
    }

    ._sample {
      margin-block: 12px;
      padding-block: 12px;
      padding-inline: 8px;
      background-color: color-mix(in oklab, var(--foreground--accent) 20%, transparent);

      &[data-display="inline-flow-root"] {
        display: inline flow-root;
      }
    }
  }
}
