<div class="scoped flexbox-basis-size">
  <section>
    <h3>flex-basis: 200px（横に並べる）</h3>
    <div class="_flexbox">
      <span class="_item" data-case="basis">幅200px</span>
    </div>
  </section>
  <section>
    <h3>flex-basis: 200px と max-inline-size: 120px</h3>
    <div class="_flexbox">
      <span class="_item" data-case="max">幅120px</span>
    </div>
  </section>
  <section>
    <h3>flex-basis: 200px と min-inline-size: 160px と max-inline-size: 120px</h3>
    <div class="_flexbox">
      <span class="_item" data-case="min-max">幅160px</span>
    </div>
  </section>
  <section>
    <h3>flex-basis: 200px（縦に並べる）</h3>
    <div class="_flexbox" data-direction="column">
      <span class="_item" data-case="basis">高さが200pxになる</span>
    </div>
  </section>
  <section>
    <h3>inline-size: 200px（縦に並べる）</h3>
    <div class="_flexbox" data-direction="column">
      <span class="_item" data-case="inline-size">幅200pxのまま</span>
    </div>
  </section>
</div>
