@layer components {
  @scope (.scoped.news-section) to (.scoped) {
    :scope {
      display: block grid;
      gap: 8px;
      padding-inline: 16px;
      background-color: var(--background--active);
    }
  }

  @scope (.scoped.service-section) to (.scoped) {
    :scope {
      display: block grid;
      gap: 8px;
      padding-inline: 16px;
      background-color: var(--background--inverse);
      color: var(--foreground--inverse);
    }
  }

  @scope (.scoped.contact-section) to (.scoped) {
    :scope {
      display: block grid;
      gap: 8px;
      padding-inline: 16px;
    }
  }
}

@layer pages {
  @scope (.scoped.page-home) to (.scoped) {
    /* セクションの間をページの gap で空けると、その部分にはページの背景が見える */
    main {
      display: block grid;
      gap: 48px;
    }
  }
}
