@layer compositions {
  .cluster {
    display: block flex;
    flex-wrap: wrap;
    gap: var(--cluster--gap, var(--cluster--row-gap, 0)) var(--cluster--gap, var(--cluster--column-gap, 0));
    justify-content: var(--cluster--justification, normal);
    align-items: var(--cluster--alignment, normal);

    @supports (flex-wrap: balance) {
      flex-wrap: balance;
    }
  }
}

@layer components {
  @scope (.scoped.footer-links) to (.scoped) {
    ul {
      --_separator-size: 1ex;

      column-rule: var(--_separator-size) dotted var(--foreground--muted);
      column-rule-inset: calc((1lh - var(--_separator-size)) / 2);
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    a {
      color: inherit;
    }
  }
}
