@layer tokens {
  :root {
    --foreground--base: oklch(25% 0 0deg);
    --foreground--accent: oklch(48% 0.17 260deg);
    --foreground--on-accent: oklch(100% 0 0deg);
    --background--accent: oklch(48% 0.17 260deg);
  }
}

@layer components {
  @scope (.scoped.global-nav) to (.scoped) {
    :scope {
      display: block flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      border-radius: 8px;
      background-color: oklch(97% 0.01 250deg);
    }

    /* ul と li は役割が1つなので、タイプセレクタで選ぶ */
    ul {
      display: block flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    /* 2種類のリンクに共通するスタイル */
    a {
      display: block flow;
      padding-block: 8px;
      padding-inline: 16px;
      border-radius: 4px;

      /* 🙅‍♂ 共通の状態で文字色を変えると、a:focus-visible（0.1.1）と a:any-link:hover（0.2.1）が ._sub-link（0.1.0）の色に勝つ */
      &:focus-visible {
        color: var(--foreground--accent);
        text-decoration-line: revert;
      }

      &:any-link:hover {
        @media (any-hover) {
          color: var(--foreground--accent);
          text-decoration-line: revert;
        }
      }
    }

    ._main-link {
      color: var(--foreground--base);
      font-weight: 700;
    }

    ._sub-link {
      background-color: var(--background--accent);
      color: var(--foreground--on-accent);
      font-size: calc(14 / 16 * 1rem);

      &:focus-visible {
        background-color: oklch(from var(--background--accent) calc(l - 0.1) c h);
      }

      &:any-link:hover {
        @media (any-hover) {
          background-color: oklch(from var(--background--accent) calc(l - 0.1) c h);
        }
      }
    }
  }
}
