<div class="scoped normal-flow-outer-display">
  <section>
    <h3>display: block flow</h3>
    <p class="_parent">文字<span class="_box" data-display="block">span</span><span class="_box" data-display="block">span</span>文字</p>
  </section>
  <section>
    <h3>display: inline</h3>
    <p class="_parent">文字<span class="_box">span</span><span class="_box">span</span>文字</p>
  </section>
  <section>
    <h3>display: inline flow-root</h3>
    <p class="_parent">文字<span class="_box" data-display="inline-flow-root">span</span><span class="_box" data-display="inline-flow-root">span</span>文字</p>
  </section>
</div>
