@layer components {
  @scope (.scoped.writing-modes) to (.scoped) {
    :scope {
      display: block grid;
      gap: 24px;
    }

    section {
      display: block grid;
      gap: 8px;
    }

    h2 {
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    div {
      padding: 16px;
      border: 1px dashed var(--border--strong);

      &[data-writing-mode="vertical"] {
        inline-size: calc(400 / 16 * 1rem);
        writing-mode: vertical-rl;
      }
    }
  }

  @scope (.scoped.note) to (.scoped) {
    :scope {
      display: block grid;
      gap: 8px;
      max-inline-size: calc(320 / 16 * 1rem);
      margin-inline: auto;
      padding-block: 12px;
      padding-inline: 16px;
      border-inline-start: 4px solid var(--foreground--accent);
      background-color: var(--background--accent-subtle);

      & > a {
        justify-self: start;
      }
    }

    a {
      display: inline flex;
      gap: 4px;
      align-items: center;

      &::after {
        content: "→" / "";
        display: inline flow-root;
      }

      &:dir(rtl)::after {
        scale: -1 1;
      }
    }
  }
}
