@layer utilities {
  .-text-muted {
    color: var(--foreground--muted);
  }
}

@layer components {
  @scope (.scoped.layer-compare) to (.scoped) {
    :scope {
      display: block grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));
      gap: 16px;
    }
  }

  @scope (.scoped.layered-card) to (.scoped) {
    :scope {
      padding: 16px;
      border: 1px solid var(--border--base);
      border-radius: var(--rounded--md);
    }

    ._text {
      color: var(--foreground--accent);
    }
  }
}

/* @layer を書き忘れたので、すべてのレイヤーより強くなる */
@scope (.scoped.unlayered-card) to (.scoped) {
  :scope {
    padding: 16px;
    border: 1px solid var(--border--base);
    border-radius: var(--rounded--md);
  }

  ._text {
    color: var(--foreground--accent);
  }
}
