@layer components {
  @scope (.scoped.target-faq) to (.scoped) {
    :scope {
      display: block grid;
      gap: 16px;
    }

    ._toc {
      display: block flex;
      flex-wrap: wrap;
      gap: 16px;
    }

    ._item {
      padding-block: 8px;
      padding-inline: 16px;
      border-inline-start: 4px solid transparent;
      background-color: oklch(97% 0 0deg);

      /* ページ内リンクの移動先になっている間だけ、線を引く */
      &:target {
        border-inline-start-color: oklch(48% 0.17 260deg);
      }
    }

    h3 {
      font-size: calc(16 / 16 * 1rem);
    }

    h3 + p {
      margin-block-start: 4px;
    }
  }
}
