<div class="scoped layout-inline-size-by-mode">
  <section>
    <h3>通常フローのインライン</h3>
    <div class="_parent">
      <span class="_item">inline-size: 280px</span>
    </div>
  </section>
  <section>
    <h3>通常フローのブロック</h3>
    <div class="_parent">
      <div class="_item">inline-size: 280px</div>
    </div>
  </section>
  <section>
    <h3>フレックスアイテム</h3>
    <div class="_parent" data-mode="flex">
      <div class="_item">inline-size: 280px</div>
    </div>
  </section>
  <section>
    <h3>グリッドアイテム</h3>
    <div class="_parent" data-mode="grid">
      <div class="_item">inline-size: 280px</div>
    </div>
  </section>
</div>
