<div class="scoped flexbox-axes">
  <section>
    <h3>row と justify-content: center</h3>
    <div class="_flexbox" data-case="row">
      <span class="_item">A</span>
      <span class="_item">B</span>
      <span class="_item">C</span>
    </div>
  </section>
  <section>
    <h3>column と justify-content: center</h3>
    <div class="_flexbox" data-case="column">
      <span class="_item">A</span>
      <span class="_item">B</span>
      <span class="_item">C</span>
    </div>
  </section>
  <section>
    <h3>column と align-items: center</h3>
    <div class="_flexbox" data-case="column-centered">
      <span class="_item">A</span>
      <span class="_item">B</span>
      <span class="_item">C</span>
    </div>
  </section>
</div>
