@layer components {
  @scope (.scoped.flexbox-axes) to (.scoped) {
    :scope {
      display: block grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
      gap: 16px;
    }

    section {
      display: block grid;
      gap: 8px;
    }

    h3 {
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    ._flexbox {
      display: block flex;
      gap: 8px;

      /* 縦にも余りを作るため、高さの下限を決める */
      min-block-size: 200px;
      border: 1px dashed var(--border--strong);
      background-color: var(--background--hover);
    }

    ._item {
      padding-block: 4px;
      padding-inline: 12px;
      background-color: var(--background--accent);
      color: var(--foreground--on-accent);
    }

    [data-case="row"] {
      justify-content: center;
    }

    [data-case="column"] {
      flex-direction: column;
      justify-content: center;
    }

    [data-case="column-centered"] {
      flex-direction: column;
      align-items: center;
    }
  }
}
