@layer components {
  @scope (.scoped.feature-grid) to (.scoped) {
    :scope {
      --_rule-width: 1px;
      --_rule-color: oklch(70% 0 0deg);

      display: block grid;
      grid-template-columns: repeat(auto-fill, minmax(min(calc(240 / 16 * 1rem), 100%), 1fr));
      gap: var(--_rule-width);
      padding: var(--_rule-width);
    }

    li {
      display: block grid;
      gap: 8px;
      align-content: start;
      padding: 24px;
      box-shadow: 0 0 0 var(--_rule-width) var(--_rule-color);

      /* 強制カラーモードでは box-shadow が消えるので、同じ位置に outline を描く */
      @media (forced-colors: active) {
        outline: var(--_rule-width) solid;
      }
    }

    ._title {
      font-size: calc(18 / 16 * 1rem);
    }

    p {
      font-size: calc(14 / 16 * 1rem);
    }
  }
}
