@layer components {
  @scope (.scoped.box-model-outline) to (.scoped) {
    :scope {
      display: block grid;
      gap: 32px;
      padding: 24px;
    }

    ._sample {
      display: block flex;
      gap: 8px;
    }

    ._item {
      inline-size: calc(80 / 16 * 1rem);
      padding: 16px;
      background-color: var(--background--accent-subtle);
      text-align: center;

      /* outline と box-shadow はボックスの大きさに含まれないので、隣の要素の位置は2行目と同じになる */
      &[data-decorated] {
        box-shadow: 0 0 0 16px var(--border--strong);
        outline: 4px solid var(--foreground--base);
        outline-offset: 4px;
      }
    }
  }
}
