@layer components {
  @scope (.scoped.read-only-scope) to (.scoped) {
    :scope {
      display: block grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(240 / 16 * 1rem)), 1fr));
      gap: 16px;
    }

    fieldset {
      display: block grid;
      gap: 8px;
      padding: 12px;
      border: 1px solid var(--border--base);
      border-radius: var(--rounded--md);
    }

    legend {
      padding-inline: 4px;
      font-weight: var(--font-weight--bold);
    }

    label {
      display: block grid;
      gap: 4px;
    }

    ._check {
      display: block flex;
      gap: 8px;
      align-items: center;
    }

    input {
      padding: 4px 8px;
      border-color: var(--foreground--muted);
      border-radius: var(--rounded--sm);

      /* 比べるための悪い例：無効の入力欄とチェックボックスにも当たる */
      &:is([data-pseudo] *):read-only {
        background-color: var(--background--active);
        outline: 3px solid var(--foreground--danger);
      }

      &:is([data-fixed] *)[readonly] {
        border-color: transparent;
        background-color: var(--background--accent-subtle);
      }

      &:is([data-fixed] *):disabled {
        border-color: var(--border--strong);
        color: var(--foreground--muted);
      }
    }
  }
}
