@layer components {
  @scope (.scoped.action-bar) to (.scoped) {
    :scope {
      display: block flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    button,
    ._selected-count {
      padding-block: 8px;
      padding-inline: 16px;
      border-color: transparent;
      border-radius: var(--rounded--sm);
      background-color: var(--background--active);
      color: var(--foreground--muted);
    }

    button {
      &:enabled {
        background-color: var(--background--inverse);
        color: var(--foreground--inverse);
      }

      &[data-variant="danger"] {
        background-color: var(--foreground--danger);
      }
    }
  }
}
