@layer components {
  @scope (.scoped.action-bar) to (.scoped) {
    :scope {
      display: block flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    button,
    ._selected-count {
      padding-block: 8px;
      padding-inline: 16px;
      border-color: transparent;
      border-radius: 4px;
      background-color: oklch(70% 0 0deg);
      color: oklch(100% 0 0deg);
    }

    button {
      &:enabled {
        background-color: oklch(50% 0.15 250deg);
      }

      &[data-variant="danger"] {
        background-color: oklch(55% 0.2 25deg);
      }
    }
  }
}
