@layer components {
  @scope (.scoped.trim-compare) to (.scoped) {
    :scope {
      display: block grid;
      gap: 24px;
    }

    section {
      display: block grid;
      gap: 12px;
    }

    h2 {
      color: var(--foreground--muted);
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    ._badges {
      display: block flex;
      flex-wrap: wrap;
      gap: 8px;

      /* バッジごとの高さの違いが見えるように、高さをそろえない */
      align-items: start;
    }

    ._badge {
      padding-block: 6px;
      padding-inline: 12px;
      border-radius: var(--rounded--sm);
      background-color: var(--background--active);
      font-size: calc(14 / 16 * 1rem);
    }

    p {
      background-color: var(--background--active);
      line-height: var(--leading--loose);
    }
  }
}

@layer utilities {
  /* 1行目の上と最後の行の下にあるハーフレディングを取り除く */
  .-trim-both {
    text-box-trim: trim-both;

    /* 英文は大文字の上端とベースラインで切り取る */
    &:lang(en) {
      text-box-edge: cap alphabetic;
    }
  }
}
