@layer base {
  :where(:root:lang(ja)) {
    font-kerning: none;
  }

  :where(:heading, h1, h2, h3, h4, h5, h6, caption) {
    font-kerning: normal;

    &:lang(ja) {
      font-feature-settings: "palt";
    }
  }
}

@layer components {
  @scope (.scoped.heading-palt) to (.scoped) {
    :scope {
      display: block grid;
      gap: 16px;
    }

    ._label {
      margin-block-end: 4px;
      color: oklch(45% 0 0deg);
      font-size: calc(14 / 16 * 1rem);
    }

    ._heading {
      font-size: calc(28 / 16 * 1rem);
      line-height: 1.4;

      /* 比較のために、見出しの詰めを打ち消す */
      &[data-palt="off"] {
        font-feature-settings: normal;
        font-kerning: none;
      }
    }

    ._body {
      line-height: 1.75;
    }
  }
}
