@layer tokens {
  :root {
    --leading--snug: 1.4;
    --leading--relaxed: 1.75;
  }
}

@layer base {
  :root {
    &:lang(ja) {
      font-kerning: none;
    }
  }

  :is(:heading, h1, h2, h3, h4, h5, h6, caption) {
    font-kerning: normal;

    &:lang(ja) {
      font-feature-settings: "palt";
    }
  }
}

@layer components {
  @scope (.scoped.heading-palt) to (.scoped) {
    :scope {
      display: block grid;
      gap: 16px;
    }

    ._label-text {
      color: oklch(45% 0 0deg);
      font-size: calc(14 / 16 * 1rem);
    }

    section {
      & > ._label-text + h2 {
        margin-block-start: 4px;
      }
    }

    h2 {
      font-size: calc(28 / 16 * 1rem);
      line-height: var(--leading--snug);

      /* 比較のために、見出しの詰めを取り除き、本文と同じく親の値を継承させる */
      &[data-palt="off"] {
        font-feature-settings: unset;
        font-kerning: unset;
      }
    }

    ._body-text {
      line-height: var(--leading--relaxed);
    }
  }
}
