<div class="scoped flexbox-wrap-gap">
  <section>
    <h3>flex-wrap: nowrap（初期値）</h3>
    <ul class="_tags" data-wrap="nowrap">
      <li class="_tag">CSS</li>
      <li class="_tag">Flexbox</li>
      <li class="_tag">レイアウト</li>
      <li class="_tag">折り返し</li>
      <li class="_tag">アクセシビリティ</li>
      <li class="_tag">レスポンシブ</li>
      <li class="_tag">タイポグラフィ</li>
      <li class="_tag">アニメーション</li>
      <li class="_tag">カスケードレイヤー</li>
    </ul>
  </section>
  <section>
    <h3>flex-wrap: wrap</h3>
    <ul class="_tags" data-wrap="wrap">
      <li class="_tag">CSS</li>
      <li class="_tag">Flexbox</li>
      <li class="_tag">レイアウト</li>
      <li class="_tag">折り返し</li>
      <li class="_tag">アクセシビリティ</li>
      <li class="_tag">レスポンシブ</li>
      <li class="_tag">タイポグラフィ</li>
      <li class="_tag">アニメーション</li>
      <li class="_tag">カスケードレイヤー</li>
    </ul>
  </section>
</div>
