@layer components {
  @scope (.scoped.flexbox-wrap-gap) to (.scoped) {
    :scope {
      display: block grid;
      gap: 16px;
    }

    section {
      display: block grid;
      gap: 8px;
    }

    h3 {
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    ._tags {
      display: block flex;
      gap: 8px;
      padding: 8px;
      border: 1px dashed var(--border--strong);

      &[data-wrap="wrap"] {
        flex-wrap: wrap;
      }
    }

    ._tag {
      /* タグの中では折り返さず、中身の幅より縮めない */
      min-inline-size: fit-content;
      padding-block: 4px;
      padding-inline: 12px;
      border-radius: var(--rounded--full);
      background-color: var(--background--accent-subtle);
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
      white-space: nowrap;
    }
  }
}
