@layer components {
  @scope (.scoped.page-section) to (.scoped) {
    :scope {
      display: block grid;
      gap: 12px;

      /* 親の幅の 5% だが、16px より狭くしない */
      padding-block: 16px;
      padding-inline: max(16px, 5%);
      background-color: var(--background--hover);
      outline: 1px dashed var(--border--strong);
    }

    ._note {
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    /* 320px だが、親の幅は超えない */
    ._thumbnail {
      display: block grid;
      place-items: center;
      inline-size: min(100%, 320px);
      aspect-ratio: 16 / 9;
      border-radius: var(--rounded--md);
      background-color: var(--background--active);
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }
  }
}
