@layer components {
  @scope (.scoped.pseudo-target) to (.scoped) {
    :scope {
      --_highlight: var(--background--accent-subtle);

      display: block grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(240 / 16 * 1rem)), 1fr));
      gap: 16px;
    }

    section {
      padding: 16px;
      border: 1px solid var(--border--base);
      border-radius: var(--rounded--md);

      & > * + * {
        margin-block-start: 8px;
      }
    }

    h3 {
      font-size: calc(var(--text--subtitle--font-size) / 16 * 1rem);
      line-height: var(--text--subtitle--leading);
    }

    p {
      /* 条件に当てはまる段落の箱全体に当たる */
      &:first-of-type:is(._class-example *) {
        background-color: var(--_highlight);
      }

      /* すべての段落の1行目だけに当たる */
      &:is(._element-example *)::first-line {
        background-color: var(--_highlight);
      }
    }
  }
}
