@layer components {
  @scope (.scoped.flexbox-order) to (.scoped) {
    :scope {
      display: block grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));
      gap: 16px;
    }

    section {
      display: block grid;
      gap: 8px;
      align-content: start;
    }

    h3 {
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    ._card {
      display: block flex;
      flex-direction: column;
      gap: 8px;
      padding: 12px;
      border: 1px solid var(--border--base);

      &[data-image-first] > ._image {
        order: -1;
      }
    }

    ._title {
      font-size: calc(var(--text--subtitle--font-size) / 16 * 1rem);
      line-height: var(--text--subtitle--leading);
    }

    ._text {
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }

    ._image {
      display: block grid;
      place-items: center;
      aspect-ratio: 16 / 9;
      background-color: var(--background--active);
      font-size: calc(var(--text--body-compact--font-size) / 16 * 1rem);
      line-height: var(--text--body-compact--leading);
    }
  }
}
