@layer components {
  @scope (.scoped.media-card) to (.scoped) {
    :scope {
      display: block grid;
      grid-template-columns: calc(120 / 16 * 1rem) 1fr;
      gap: 16px;
      padding: 16px;
      border-radius: var(--rounded--md);
      box-shadow: var(--shadow--xs);
      background-color: var(--background--surface);
    }

    img {
      inline-size: -webkit-fill-available;
      inline-size: stretch;
      block-size: 0;
      min-block-size: 100%;
      border-radius: var(--rounded--sm);
      object-fit: cover;
    }

    ._body {
      display: block grid;
      gap: 8px;
      align-content: start;
    }

    ._title {
      font-size: calc(18 / 16 * 1rem);
    }
  }
}
