@layer components {
  @scope (.scoped.feature-band) to (.scoped) {
    /* 左右の列が余白になり、中央の列に内容を置く */
    :scope {
      display: block grid;
      grid-template-columns: minmax(16px, 1fr) minmax(0, calc(480 / 16 * 1rem)) minmax(16px, 1fr);
      padding-block: 24px;
      background-color: var(--background--active);

      & > * {
        grid-column: 2;
      }

      & > * + p {
        margin-block-start: calc(8 / 16 * 1rem);
      }
    }

    h2 {
      font-size: calc(var(--text--title--font-size) / 16 * 1rem);
      line-height: var(--text--title--leading);
    }
  }
}
