<div class="scoped news-list">
  <ul>
    <li>
      <time datetime="2026-09-30">2026.09.30</time>
      <span class="_category">お知らせ</span>
      <a href="#">第9章「レスポンシブデザイン」に、ラベルを隠すシェアボタンの例を追加しました</a>
    </li>
    <li>
      <time datetime="2026-09-12">2026.09.12</time>
      <span class="_category">イベント・セミナー情報</span>
      <a href="#">CSSの勉強会を開催します</a>
    </li>
    <li>
      <time datetime="2026-08-01">2026.08.01</time>
      <span class="_category">更新</span>
      <a href="#">付録A「ルール一覧」を更新しました</a>
    </li>
  </ul>
</div>
