@layer components {
  @scope (.scoped.icon-button-demo) to (.scoped) {
    :scope {
      display: block flex;
      flex-wrap: wrap;
      gap: 16px;
    }

    button {
      display: inline flex;
      gap: 8px;
      align-items: center;
      padding-block: 8px;
      padding-inline: 16px;
      border-radius: var(--rounded--sm);
      color: var(--foreground--base);

      &:disabled {
        color: var(--foreground--muted);
      }
    }

    ._icon {
      inline-size: 1.25em;
      aspect-ratio: 1;
      fill: currentColor;
    }
  }
}
